.container {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.spin {
  height: 80px;
  width: 80px;
  border: 3px solid #2764FF;
  border-top-color: transparent;
  border-radius: 100vmax;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}