.scalable-container {
  overflow: hidden;
}

.reply-enter {
  height: 0;
}

.reply-enter-active {
  transition: height 0.2s ease;
  height: 4em;
}

.reply-exit {
  height: 4em;
}

.reply-exit-active {
  transition: height 0.2s ease;
  height: 0;
}

.reply-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.125em;
  padding: 0.625em 1.125em 0.625em 1.5em;
}

.reply {
  font-size: 1rem;
  line-height: normal;
}

.reply__cross {
  height: 15px;
  border: none;
  padding: 0;
  cursor: pointer;
}

.reply__cross svg {
  stroke: #575757;
  stroke-width: 10px;
  stroke-linecap: round;
  height: 100%;
  transition: stroke 0.2s ease-out;
}

.reply__cross:hover svg {
  stroke: gray;
}