.message-wrapper {
  display: flex;
  width: 100%;
  padding-top: 0.25em;
  --avatar-width: calc(40px + 0.5em);
  --border-radius-main: 14px;
  --border-radius-small: 5px;
  --box-shadow-main: 2px 2px 5px -2px rgba(0, 0, 0, 0.1), 2px 2px 7px rgba(0, 0, 0, 0.05);
  --box-shadow-reverse: -2px 2px 5px -2px rgba(0, 0, 0, 0.1), -2px 2px 7px rgba(0, 0, 0, 0.05);
}

.self {
  justify-content: flex-end;
}

.first-in-group {
  padding-top: 0.5em;
}

.message {
  display: flex;
  gap: 0.5em;
  align-items: flex-start;
  max-width: 60%;
}

.self .message {
  flex-direction: row-reverse;
}

.message__container {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  width: 100%;
  background-color: white;
  padding: 8px 16px;
  border-radius: var(--border-radius-small) var(--border-radius-main) var(--border-radius-main) var(--border-radius-small);
  position: relative;
  box-shadow: var(--box-shadow-main);
}

.message-wrapper:not(.first-in-group) .message__container {
  margin: 0 0 0 var(--avatar-width);
}

.message__content {
  word-break: break-word;
  color: #373737;
}

.first-in-group .message__container {
  border-top-left-radius: 0;
}

.first-in-group .message__corner {
  position: absolute;
  display: block;
  top: 0;
  left: -9px;
  transform: scaleY(-1);
  z-index: -1;
}

.self .message__container {
  border-radius: var(--border-radius-main) var(--border-radius-small) var(--border-radius-small) var(--border-radius-main);
  box-shadow: var(--box-shadow-reverse);
}

.message-wrapper.self:not(.first-in-group) .message__container {
  margin: 0 var(--avatar-width) 0 0;
}

.self.first-in-group .message__container {
  border-top-right-radius: 0;
}

.self .message__corner {
  left: unset;
  right: -9px;
  transform: scale(-1);
}

.message__reply {
  margin-block: 4px;
}