.message-wrapper {
  display: flex;
  width: 100%;
  --avatar-width: calc(40px + 0.5em);
  --border-radius-main: 20px;
  --border-radius-small: 7px;
  --box-shadow-main: 2px 2px 5px -2px rgba(0, 0, 0, 0.1), 2px 2px 7px rgba(0, 0, 0, 0.05);
  --box-shadow-reverse: -2px 2px 5px -2px rgba(0, 0, 0, 0.1), -2px 2px 7px rgba(0, 0, 0, 0.05);
}

.self {
  justify-content: flex-end;
}

.first-in-group {
  margin-top: 0.25em;
}

.message {
  display: flex;
  gap: 0.5em;
  align-items: flex-start;
  max-width: 60%;
}

.self .message {
  flex-direction: row-reverse;
}

.message__content {
  word-break: break-word;
  color: #373737;
  background-color: white;
  padding: 8px 16px;
  border-radius: var(--border-radius-small) var(--border-radius-main) var(--border-radius-main) var(--border-radius-small);
  position: relative;
  box-shadow: var(--box-shadow-main);
}

.message-wrapper:not(.first-in-group) .message__content {
  display: flex;
  align-items: flex-end;
  column-gap: 1em;
  flex-wrap: wrap;
  margin: 0 0 0 var(--avatar-width);
}

.first-in-group .message__content {
  border-top-left-radius: 0;
}

.first-in-group .message__content::before {
  content: "";
  position: absolute;
  top: 0;
  left: -9px;
  width: 9px;
  height: 17px;
  background: url(../../assets/message-corner.svg);
  transform: scaleY(-1);
  z-index: -1;
}

.self .message__content {
  text-align: right;
  border-radius: var(--border-radius-main) var(--border-radius-small) var(--border-radius-small) var(--border-radius-main);
  box-shadow: var(--box-shadow-reverse);
}

.message-wrapper.self:not(.first-in-group) .message__content {
  margin: 0 var(--avatar-width) 0 0;
}

.self.first-in-group .message__content {
  border-top-right-radius: 0;
}

.self .message__content::before {
  left: unset;
  right: -9px;
  transform: scale(-1);
}

.message__info {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  margin-left: auto;
}

.self .message__info {
  flex-direction: row-reverse;
}

.message__author-name {
  font-weight: 600;
  flex-shrink: 0;
}

.message__date {
  font-size: 14px;
  color: gray;
  user-select: none;
}